body {
    background-image: url(../newBG/image/1.jpg);
    background-attachment:fixed;
    background-size: cover;
    font-size:20px;
    color:#ffffff;
    font-family: "微軟正黑體";  
}
input[type=hidden], input[type=submit] {
    background-color: rgba(76, 175, 79, 0.671);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
}
input:hover{
    background-color: #ffffff1a;
    color: #070707;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    }
    table {
      border-collapse: collapse;
      width: 100%
    }
    th, td {
      padding: 15px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th,td {
      text-align: left;
      padding: 10px;
    }

    
tr:nth-child(even) {
   

}

