body {
    background-image: url(1.jpg);
    background-attachment:fixed;
    font-size:20px;
    color:#080c0f;  
}
#main {
    width: 800px;
    margin: 60px auto;
    border: 10px #f0f8ff solid ;
    padding: 13px;            
    background: #37322f86
}
table {
    width: 300px;
    height: 500px;
}
th ,td {
    border: 0px solid ;
    color:#f0f8ff;  
    text-align:center;
    background-color:#37322f86;
}
input{           
    font-size: 20px;
    text-align: center;
    color:#666666; 
}
select{
    width: 200px;
    height: 30px;
}
#background{
    background-color:#37322f86;
    color:#f0f8ff;         
}
#button{
    background-color: #f8f4f4;   
    padding: 1px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.2s;
    border: 0px solid ;
}
#button:hover{
    background-color: #ffffff59;
    color: #070707;
}
a{
    text-decoration: none;
    color: #000000;
}

#game{
    background-color:#37322f86;  
    color:#f0f8ff; 
    padding: 1px 1px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.2s;
    border: 0px solid ;
}